<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/stringInput/">String Input</a>
    <h1>Contact Page</h1>
    <table border="2px" padding="1px">
        <tr>
            <th>Name</th>
            <td>{{name}}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{phone}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{email}}</td>
        </tr>
    </table>
</body>
</html>